@model Simple.Abp.Articles.Public.Web.Shared.Components.Pagination.PaginationViewModel

@if (Model != null)
{
    <div class="pagination">
        @if (Model.IsPrev)
        {
            <a href="@Model.Prev">
                <i class="fas fa-angle-left"></i>
            </a>
        }

        <span class="page-number">Page @Model.PageIndex of @Model.PageCount</span>

        @if (Model.IsNext)
        {
            <a href="@Model.Next">
                <i class="fas fa-angle-right"></i>
            </a>
        }

    </div>
}
