@using Volo.CmsKit.Public.Blogs
@model List<BlogPostPublicDto>

@foreach (var blogPost in Model)
{
    string creationTime = blogPost.CreationTime.ToString("MMM dd, yyyy", new System.Globalization.CultureInfo("en-us"));
    <li class="post-item">
        <div class="meta">
            <time datetime="@creationTime" itemprop="datePublished">
                @creationTime
            </time>
        </div>
        <span>
            <a href="@blogPost.Slug">
                @blogPost.Title
            </a>
        </span>
    </li>
}