@using Simple.Abp.Articles.Web.Theme.Cactus
@using Simple.Abp.Articles.Web.Theme.Cactus.Components.Menu
@inject FrontHelper FrontHelper

@{ 
    var cactusTheme = FrontHelper.GetCurrentTheme();
}
<header id="header">
    <a href="/">
        <div id="logo" style="background-image: url(/logo.png);"></div>
    </a>
    <div id="title">
        <h1>
            @ViewBag.PageTitle
            <span style="font-size:11px" id="theme-switch">
                <i class="fa fa-toggle-@(cactusTheme==EnumCactusTheme.Light?"on":"off")"></i>
            </span>
        </h1>
    </div>

    <div id="nav">
        <ul>
            <li class="icon">
                <a href="javascript:void(0)"><i class="fas fa-bars fa-2x"></i></a>
            </li>

            @(await Component.InvokeAsync<MainMenuViewComponent>())
        </ul>
    </div>

</header>
