@page
@model Simple.Abp.Articles.Public.Web.Pages.TagsModel
@{
    ViewBag.Title = "Tags";
}
<div id="archive">
    <ul class="post-list">
        @foreach (var tag in Model.Tags)
        {
            <h2>
                <a href="/writing/tag/@(tag.Name.ToLower())">@tag.Name (@tag.ArticleCount)</a>
            </h2>
        }
    </ul>
</div>