@page
@model Simple.Abp.CmsKit.Public.Web.Pages.TagsModel
@{
    ViewBag.Title = "Tags";
    ViewBag.Description = "Tags";
}
<div id="archive">
    <ul class="post-list">
        @foreach (var tag in Model.Tags)
        {
            <h2>
                <a href="/tags/@(tag.Name.ToLower())">@tag.Name</a>
            </h2>
        }
    </ul>
</div>