<section id="about">

    <p>
        Hi，我是一名.NET开发者。目前在一家互联网公司开发网站。
        除了工作外，我还是一名b站的up主，分享一些游戏与技术相关的内容。

        这个网站是我从2019年8月开始开发的.NET博客系统,目前正在完善中。它从使用 ASP.NET Core 发展到使用 <a href="https://abp.io">ABP VNext</a> 框架。
        架构上完全遵循ABP的模块化开发，充分体现模块化开发的优势。
        它现在对社区是<a href="https://github.com/aqa365/simple-abp/tree/main/blog">开源的</a>。
    </p>

    <span id="description"></span>

</section>