@page
@using Simple.Abp.Articles.Public.Web.Shared.Components.Pagination
@using Simple.Abp.Articles.Public.Web.Shared.Components.Project
@model Simple.Abp.Articles.Public.Web.Pages.ProjectsModel
@{
    ViewBag.Title = "Projects";
}

<div id="archive">
    <ul class="project-list">
        @(await Component.InvokeAsync<ProjectViewComponent>(new { modelList = Model.Projects }))
    </ul>

    @(await Component.InvokeAsync<PaginationViewComponent>(new { vm = Model.PaginationViewModel }))
</div>


