@using Volo.CmsKit.Admin.Blogs
@model List<BlogPostDto>

@foreach (var article in Model)
{
    <li class="project-item">
        <p style="color:#666">@article.ShortDescription</p>
        : <a href="@article.Slug">@article.Title</a>
    </li>
}