@using Simple.Abp.Articles.Dtos
@model List<ArticleDto>

@foreach (var article in Model)
{
    <li class="post-item">
        <div class="meta">
            <time datetime="@article.CreationTime" itemprop="datePublished">
                @article.FrontCreationTime
            </time>
        </div>
        <span>
            <a href="@article.FrontUrl">
                @article.Title
            </a>
        </span>
    </li>
}